{"filter":false,"title":".gitignore","tooltip":"/1.bookers1-debug/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":31,"column":9},"end":{"row":32,"column":0},"action":"insert","lines":["",""],"id":2},{"start":{"row":32,"column":0},"end":{"row":33,"column":0},"action":"insert","lines":["",""]}],[{"start":{"row":33,"column":0},"end":{"row":33,"column":1},"action":"insert","lines":["."],"id":3},{"start":{"row":33,"column":1},"end":{"row":33,"column":2},"action":"insert","lines":["c"]},{"start":{"row":33,"column":2},"end":{"row":33,"column":3},"action":"insert","lines":["9"]}]]},"ace":{"folds":[],"scrolltop":272.5,"scrollleft":0,"selection":{"start":{"row":34,"column":0},"end":{"row":34,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1632211932143,"hash":"04a5f5f90fa79482b5da69742ef74ce6d8ed72b0"}